.root {
  background: radial-gradient(
    228.62% 100% at 50% 100%,
    #351f00 0%,
    #f58f00 100%
  );
  height: 842px;
  width: 100%;
  border-radius: 40px;

  @media (max-width: 1024px) {
    height: 904px;
  }

  h1 {
    font-weight: 500;
    font-style: Medium;
    font-size: 80px;
    line-height: 115%;
    letter-spacing: 0%;
    background: radial-gradient(
      112.57% 150.56% at 50% 0%,
      #ffffff 0%,
      rgba(255, 255, 255, 0.7) 100%
    );
    background-clip: text;
    -webkit-background-clip: text; /* Safari / Chrome */
    -webkit-text-fill-color: transparent;
    color: transparent; /* Fallback */
  }

  span {
    display: block;
    max-width: 362px;
    color: white;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0%;
  }
}
